[Unit]
Description=OpenVDC agent
After=network.target

[Service]
ExecStart=/opt/axsh/openvdc/bin/openvdc-agent 

[Install]
WantedBy=multi-user.target
