[Unit]
Description=OpenVDc scheduler
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/openvdc
ExecStart=/opt/axsh/openvdc/bin/openvdc-scheduler 


[Install]
WantedBy=multi-user.target
