[Unit]
Description=OpenVDC scheduler
After=network.target

[Service]
ExecStart=/opt/axsh/openvdc/bin/openvdc-scheduler 


[Install]
WantedBy=multi-user.target
