#!/bin/sh

set -e
# lxc.network.script.up/down does not capture stderr.
exec 2>&1

CONTAINER=$1
SECTION=$2 # net
ACTION=$3  # up/down
IFTYPE=$4  # veth,macvlan,etc...
IFNAME=$5

# When mesos-slave is stopped and restarted, all instances are momentarily stopped
# without running the down.sh script causing defunct ports to remain on ovs.
# Until a fix for that is found, we need to remove those on startup.
ovs-vsctl --if-exists del-port {{.BridgeName}} "${IFNAME}"

ovs-vsctl add-port {{.BridgeName}} "${IFNAME}"
