[Unit]
Description=OpenVDc scheduler
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/openvdc
ExecStart=/opt/axsh/openvdc/bin/openvdc-scheduler --zk=10.0.100.10:2181 --master=10.0.100.11:5050 --api=0.0.0.0:5000


[Install]
WantedBy=multi-user.target
